@mixin icon() {
  text-align: center;
  align-items: center;
  border: 1px solid black;
  width: 1rem;
  height: 1rem;
  border-radius: 0.2rem;
}
$shadow: 0px 0px 6px;

.card {
  width: 20rem;
  margin: 0.5rem auto;
  padding: 1.5rem;
  box-shadow: $shadow;
  position: relative;
  border-radius: 0.2rem;
  background-color: aliceblue;

  .delete {
    @include icon();
    .deleteIcon {
      width: 10px;
      color: #000;
    }
    &:hover {
      cursor: pointer;
      background-color: rgba(241, 75, 75, 0.877);
      box-shadow: $shadow;
    }
  }
  .edit {
    @include icon();
    margin-top: 0.2rem;
    .editIcon {
      width: 10px;
      color: #000;
    }
    &:hover {
      cursor: pointer;
      background-color: rgb(250, 165, 236);
      box-shadow: $shadow;
    }
  }
  .icons {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .text {
    margin-right: 0.5rem;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    border-top: 1px solid black;
    font-style: italic;
    div {
      margin-right: 0.2rem;
    }
  }
}
