.card {
  width: 20rem;
  margin: 0.5rem auto;
  padding: 1.5rem;
  box-shadow: 6px 4px 9px;
  position: relative;
  border-radius: 0.2rem;
  background-color: aliceblue;

  .delete {
    border: 1px solid black;
    width: 1rem;
    height: 1rem;
    text-align: center;
    align-items: center;
    border-radius: 0.2rem;
    .deleteIcon {
      width: 10px;
      color: #000;
    }
    &:hover {
      cursor: pointer;
      background-color: rgba(241, 75, 75, 0.877);
      box-shadow: 0px 0px 6px;
    }
  }
  .edit {
    border: 1px solid black;
    width: 1rem;
    height: 1rem;
    text-align: center;
    align-items: center;
    border-radius: 0.2rem;
    margin-top: 0.2rem;
    .editIcon {
      width: 10px;
      color: #000;
    }
    &:hover {
      cursor: pointer;
      background-color: rgb(250, 165, 236);
      box-shadow: 0px 0px 6px;
    }
  }
  .icons {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .text {
    margin-right: 0.5rem;
  }
  .tags {
    margin-top: 1rem;
    border-top: 1px solid black;
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    div{
      margin-right: 0.2rem;
  }
  }
}
