.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: start;

    .card{
        max-width: 30rem;
        margin: .5rem auto;
        padding: 0 1rem;
        box-shadow: 6px 4px 9px;
    }
}
